<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trips</ion-title>
    <ion-buttons>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button
  id="addButton"
  *ngIf="mode ==='Me'"
  (click)="toNewTripPage()"><ion-icon name="add"></ion-icon></button>
<ion-card *ngFor="let trip of trips"
  (click)="toTripPage(trip)">
  <ion-card-header>Trip to {{trip.location}}
  </ion-card-header>
  <ion-card-content>
    {{convertDate(trip.startDate) | date: 'EEE MMM d, y'}}-{{convertDate(trip.endDate) | date: 'EEE MMM d, y'}}
  </ion-card-content>
</ion-card>
</ion-content>
