page-home {
  ion-content{
    background-image: url('https://c1.staticflickr.com/9/8724/16958016391_5e07aff6bd_b.jpg');
  }
  form {
    position: relative;
    top: 5%;
  }
  #signUpButton {
    top: 5%;
    font-weight: bold;
    color: white;
    text-align: right
  }
  #loginButton {
    font-weight: bold;
  }
  #logo {
    color: white;
    font-size: 50px;
    margin-top: 10%;
    text-align: center;
  }
}
